<nav class="col-md-12 navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Little Loans</a>
    <ul class="nav navbar-nav">
      <li><%= link_to "All Your Playlists", playlists_path %></li>
      <li><%= link_to "Your Current Playlist is #{@playlist.subject}", playlists_path %></li>
      <li><%= link_to "Select a different playlist", playlists_path %></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
        aria-haspopup="true" aria-expanded="false">Categories<span class="caret">
        </span>
        </a>
        <ul class="dropdown-menu">
          <% current_user.playlists.each do |playlist| %>
          <li><a href="#"><%= playlist.subject %></a></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="newbox">

    <%= link_to "Create Playlist", new_playlist_path, class: "btn btn-primary" %>
    <% @results.each do |result| %>
    <div class="card">
      <div class="card-block">
        <h3 class="card-title"><%= result[:ep_title]%></h4>
          <h6 class="card-subtitle text-muted">Podcast Publisher: <%= result[:show_title]%><br></h6>
        </div>
        <p class="card-text">Description <%= result[:description].first(140)%></p>
        <img src=<%=result[:image]%> alt="Card image">
        <div class="card-block">


          <%= link_to "Add To Playlist",
          new_podcast_path(result),
          class: "btn btn-primary" %>

            <hr>
          </div>
        </div>

        <% end %>
      </div>
    </div>
